@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  background: #0b0f19;
  color: #e5e7eb;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
